h1 {
  margin-top: 3rem;
}
pre {
  border-left-color: darkgreen;
  margin: 2.5rem 0 !important;
}
h2 {
  margin-top: 6rem;
}
h3 {
  margin-top: 4rem;
}
a {
  color: darkgreen;
}
a:hover {
  text-decoration: underline;
}
img.kai {
  width: 100px;
  border: 1px solid black;
  margin-bottom: 2.5rem;
}
button.toblog {
  font-size: 1.3rem;
  border-color: darkgreen;
  color: darkgreen !important;
}
h3.blogsection {
  margin-top: 5rem;
}
div.article {
  margin: 3rem 0;
}
div.container {
  max-width: 80rem;
}
p.articleHead {
  margin-top: 3rem;
}
h3.articleTitle {
  margin-top: 1rem;
}
:not(pre) > code[class*="language-"] {
  border-radius: 0 !important;
  background: #eee !important;
  color: #606c76;
  margin: 0 .5rem;
}
